form:has(.rmu-cse) {
    font-family: var(--filroden-font-family) !important;
    font-size: var(--filroden-font-size-s);
    background: var(--filroden-color-bg-darkest) !important;
}

form:has(.rmu-cse) .window-header {
    background: var(--filroden-color-bg-darkest) !important;
    border: none !important;
    color: var(--filroden-color-text-main-solid);
    flex: 0 0 auto !important;
    min-height: 34px;
    height: auto !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form:has(.rmu-cse) .window-header .window-title {
    font-size: var(--filroden-font-size-s);
    line-height: 1.2;
    text-align: start;
    padding-inline-start: var(--filroden-space-s);
    padding-inline-end: 0;
    flex: 1;
}

form:has(.rmu-cse) .window-header .window-icon {
    margin-inline-start: var(--filroden-space-xxs);
    margin-inline-end: 0;
}

form:has(.rmu-cse) .window-content {
    background: var(--filroden-color-bg-darkest) !important;
    color: var(--filroden-color-text-main-solid);
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: var(--filroden-space-l);
}

.rmu-cse label {
    color: var(--filroden-color-text-main-solid);
    line-height: normal;
}

.rmu-cse select {
    background: var(--filroden-color-bg-medium-solid);
    border: 1px solid var(--filroden-color-border);
    color: var(--filroden-color-text-main-solid);
    border-radius: var(--filroden-radius-small);
    min-height: 1.6rem;
    padding-inline: var(--filroden-space-xs);
    margin-bottom: var(--filroden-space-m);
    width: 100%;
    box-sizing: border-box;
    transition:
        border-color 0.2s,
        box-shadow 0.2s;
}

.rmu-cse select option {
    background-color: var(--visage-color-bg-darkest) !important;
    color: var(--visage-color-text-main-solid) !important;
}

.rmu-cse-checkbox {
    appearance: auto;
    accent-color: var(--filroden-color-text-accent);
    color-scheme: dark;
    width: var(--filroden-font-size-m) !important;
    height: var(--filroden-font-size-m);
    margin: var(--filroden-space-xs);
    cursor: pointer;
    display: inline-block;
    align-content: center;
    text-align: center;
}

.rmu-cse-checkbox::before,
.rmu-cse-checkbox::after {
    content: none;
}

form:has(.rmu-cse) button {
    background: var(--filroden-color-bg-light-solid);
    border: 1px solid var(--filroden-color-border);
    color: var(--filroden-color-text-main-solid);
    border-radius: var(--filroden-radius-small);
    transition:
        background-color 0.1s,
        border-color 0.1s,
        color 0.1s ease;
}

form:has(.rmu-cse) button:hover {
    background: var(--filroden-color-bg-hover-solid);
    border-color: var(--filroden-color-text-accent);
    box-shadow: none;
}

.rmu-cse-icon {
    display: inline-block;
    width: var(--filroden-font-size-l);
    height: var(--filroden-font-size-l);
    min-width: var(--filroden-font-size-l);
    background-color: currentColor;
    background-image: none !important;
    vertical-align: -0.125em;
    content: "";
    transform: scaleX(var(--filroden-dir-flip));
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    margin: 0;
}

.window-header i.rmu-cse-icon {
    width: 14px;
    height: 14px;
}

.rmu-cse-icon.export {
    -webkit-mask-image: url("../icons/file_export.svg");
    mask-image: url("../icons/file_export.svg");
}
.rmu-cse-icon.save {
    -webkit-mask-image: url("../icons/file_save.svg");
    mask-image: url("../icons/file_save.svg");
}
